@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap");
html {
  --btn-lr-pad: 1.6rem;
  --btn-tb-pad: .8rem;
  --section-tb-pad: 7.7rem;
  --border-radius: 1.2rem;
  --font-family: "Manrope", "sans-serif";
  --primary-clr: #005DC1;
  --grey-0: #868e96;
  --red-0: #ffc9c9;
  --red-6: #c92a2a;
  --grn-0: #b2f2bb;
  --grn-6: #2b8a3e;
  --blue-0: #d0ebff;
  --blue-2: #4dabf7;
  --blue-6: #1971c2;
  --ylo-0: #ffec99;
  --ylo-6: #e67700;
  --vio-0: #e5dbff;
  --vio-6: #5f3dc4;
  --main-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}
@media (max-width: 60em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

*::-webkit-scrollbar {
  width: 1rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

img {
  width: 100%;
}

button,
a {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
}

.h1 {
  font-size: 4.8rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: #a2a2a2;
}

.h2 {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: #a2a2a2;
}

.h3 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: #a2a2a2;
}

.btn,
.btn-extra-info {
  padding: var(--btn-tb-pad) var(--btn-lr-pad);
  background: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  color: #a2a2a2;
  border: 1px solid var(--grey-0);
  transition: all 0.3s;
}
.btn:hover,
.btn-extra-info:hover {
  background-color: #4d4d4d;
}

.btn-extra-info {
  width: 2rem;
  padding: 0;
  background-color: transparent;
  border: none;
}

.btn-circular {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0.1px solid var(--ip-border-placeHolder-clr);
  background: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  color: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}
.btn-circular img {
  width: 85%;
}
.btn-circular:hover {
  transform: scale(1.08);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.App .title {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: #a2a2a2;
  margin: 2rem auto;
  margin-bottom: 0;
}
.App .loading-state {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  margin: 5rem auto;
  width: 50vw;
  border: 0.2rem solid #4d4d4d;
  padding: 2vw;
  text-align: center;
}
@media (max-width: 37.5em) {
  .App .loading-state {
    width: 95%;
  }
}

.my-custom-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.swal2-icon-show {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  width: 100%;
}
.search-box input {
  padding: 1rem;
  width: 50rem;
  outline: none;
  border: 0.1rem solid #818181;
}
@media (max-width: 37.5em) {
  .search-box input {
    width: 30rem;
  }
}

.weather-info-box {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0 auto;
  width: 50vw;
  border: 0.2rem solid #4d4d4d;
  padding: 2vw;
}
@media (max-width: 37.5em) {
  .weather-info-box {
    width: 95%;
  }
}
.weather-info-box .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.weather-info-box .header .weather-logo {
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.weather-info-box .header .main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5vw;
}
.weather-info-box .header .main-info .line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.weather-info-box .header .main-info .line .temp {
  font-size: 3rem;
}
.weather-info-box .header .main-info .line .text {
  font-size: 2rem;
}
.weather-info-box .header .main-info .line--1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.weather-info-box .header .btn-add-remove {
  margin: 0 0 0 auto;
  width: 3rem;
}
.weather-info-box .all-info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 auto 0 5rem;
  margin-bottom: 2rem;
}
.weather-info-box .all-info-box .sec-head {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--font-family);
  color: #a2a2a2;
}
.weather-info-box .all-info-box .sec-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.place-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border: 0.2rem solid #4d4d4d;
  padding: 2rem;
  width: 36rem;
  height: 13rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  position: relative;
}
@media (max-width: 37.5em) {
  .place-card {
    width: 95%;
  }
}
.place-card .weather-logo {
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.place-card .main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5vw;
}
.place-card .main-info .line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.place-card .main-info .line .temp {
  font-size: 3rem;
}
.place-card .main-info .line .text {
  font-size: 2rem;
}
.place-card .main-info .line--1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.place-card .btn-add-remove {
  margin: 0 0 0 auto;
  width: 3rem;
}
.place-card .update {
  width: 36rem;
  height: 12.6rem;
  background-color: #7e7e7e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: var(--grn-0);
}
@media (max-width: 37.5em) {
  .place-card .update {
    width: 95%;
  }
}

.saved-places-box {
  width: 100%;
  padding: 0 2rem;
}
.saved-places-box .title {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--font-family);
  color: #a2a2a2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.saved-places-box .cards {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.saved-places-box .no-place {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #a2a2a2;
  margin: 5rem auto;
  width: 50vw;
  border: 0.2rem solid #4d4d4d;
  padding: 2vw;
  text-align: center;
}
@media (max-width: 37.5em) {
  .saved-places-box .no-place {
    width: 95%;
  }
}

/*# sourceMappingURL=index.css.map */
